.budgets__header_header-up {
    display: flex;
    height: 132px;
}
.budgets__header_header-up .title-budgets {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 46px 32px 0 0;
    width: 93px;
    height: 32px;
}
.budgets__header_header-up .new-budgets {
    width: 144px;
    height: 44px;
    background: #3798f3;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 40px;
}
.budgets__header_header-up .button_plus {
    margin-left: 13px;
    display: flex;
    
}
.budgets__header_header-up .button_plus > div >img {
    width: 18px;
    height: 18px;
}
.budgets__header_header-up .button_plus > div:nth-child(2) {
    color: white;
    margin-left: 10px;
    width: 76px;
    font-size: 15px;
    white-space: nowrap;
}