.search-in-budgets {
    width: 480px;
    height: 44px;
    left: 38.88%; /*672px*/
    display: flex;
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
}
.search-in-budgets > img {
    width: 18px;
    height: 18px;
    margin: 13px 11px;
}
.search-in-budgets > input {
    width: 400px;
    height: 19px;
    margin: 12px 0 13px 0px;
    font-size: 14px;
    border: none;
    outline: none;
    color: #A4A4A4;
}

 