.sort {
    width: 192px;
    height: 44px;
    display: flex;
    align-items: center;
}
.sort-by {
    width: 58px;
    height: 19px;
    color: #6d6f75;
}
.created-at {
    color: #6d6f75;  
}
.created-at > select {
    border: none;
}
.sort select {
    width: 116px;
}