.budgets__table .table {
    margin-bottom: 50px;
}
.budgets__table  .tr {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16);
    margin-bottom: 6px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 1px;
    min-height: 72px;
    max-width: 1728px;
}
.budgets__table .col1  {
    flex-basis: 282px;
    padding-left: 20px;
    cursor: pointer;
    flex-grow: 1
}

.budgets__table .col2  {
    flex-basis: 175px;
    padding-left: 20px;
    text-overflow: ellipsis; 
    overflow: hidden;  
    white-space: nowrap;
    flex-grow: 1 
}
.budgets__table .col3  {
    width: 133px;
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;
    white-space: nowrap;  
}
.budgets__table .col4 {
    flex-basis: 166px;
    text-align: right;
    padding-right: 28px;
    padding-left: 20px;
    white-space: nowrap; 
    flex-grow: 1  
}
.budgets__table .col5 {
    flex-basis: 167px;
    text-align: right;
    padding-right: 16px;
    padding-left: 20px;
    white-space: nowrap; 
    flex-grow: 1 
}
.budgets__table .col6 {
    position: relative;
}
.budgets__table .col6 > div {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 561px;
    position: relative;
    padding-left: 20px;
    padding-right: 99px;
}
.budgets__table .col6  div span{
    padding-bottom: 16px;
}
.budgets__table .col6 > .col6-gradient {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 140px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80px, #fff 60px);
}
.budgets__table .col6 > div > div {
    margin-right: 26px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 16px;
}
.budgets__table .col7 {
    flex-basis: 224px;
    margin-top: 9px;
    white-space: nowrap;
    text-align: right;
    flex-grow: 1 
}
.budgets__table .col7 img {
    margin-left: 4px;
}
.budgets__table .col7 .budgets-table-projects {
    display: flex;
    color: #6D6F75;
    justify-content: flex-end; 
}
.col7 .budgets-table-projects .img-container {
  width: 28px;
  margin-right:28px;
}
.budgets__table .col8 {
    flex-basis: 40px;
    padding-right: 0.92%; /*16px */
    flex-grow: 1 
    
}
.budgets__table .col8 > div {
    position: relative; 
    
}
.budgets__table .col8 {
    margin-top: 9px;
}
.budgets__table .col-title {
    font-size: 13px;
    color: #1C1A1A;
    font-weight: 600;
    opacity: 0.47;
}
