.ring {
    width: 56.59px; /*56.59px*/
    height: 56.59px;
    border-radius: 50%;
    border: 9px solid #3798f3;
    position: absolute;
    top: 15.25px;
    left: 20.2%; /*20px*/
}
.ring:after {
    content: '';
    background:#3798f3;
    width: 10px;
    height: 20px;
    display: block;
    transform: rotate(307deg);
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.ring:before {
    content: '';
    background:#3798f3;
    width: 10px;
    height: 20px;
    display: block;
    transform: rotate(307deg);
    position: absolute;
    top: 32px;
    left: 0;
}