.filters-window  span {
    white-space: nowrap;
}

/* .filters-window*/

.filters-window {
    width: 480px;
    height: 551px;
    position: absolute;
    right: 23px;
    top: 194px;
    border-radius: 12px;
    background: #ffffff;
    z-index: 2000;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.filters-window:after {
    content: '';
    position: absolute;
    top: -26.5px;
    left: 392px;
    border-bottom:  16px solid white;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid transparent;
}

/* filters-buttons */

.app .filters-window .filters-buttons {
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}
.app .filters-window .filters-buttons > span {
    font-size: 17px;
    width: 44px;
    height: 22px;
    margin-left: 20px;
}
.app .filters-window .filters-buttons > .button {
    border-radius: 8px;
    height: 36px;
    outline: none;
}
.app .filters-window .filters-buttons > .clear {
    width: 74px;
    margin: 0 12px 0 226px;
    border: 1px solid #ECECEC;
    background: white; 
}
.app .filters-window .filters-buttons > .apply {
    width: 84px;
    color: white;
    background: #3798F3;
    border: none;
}

/*filters group */
.created-date {
    height: 102px;
    position: relative;
}
.datetime-local, .filter_select{
    width: 424px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #A4A4A4;
    margin-left: 28px;
    outline: none;
}

/* Created date */

.app .filters-window .created-date {
    display: flex;
    flex-direction: column;
}
.created-date > span {
    width: 74px;
    height: 17px;
    margin: 24px 0 5px 29px;
    font-size: 13px;
}
.filters_line {
    position: absolute;
    bottom: 0;
    left: 28px;
    width: 424px;
    height: 2px;
    background: #ECECEC;
}

/*related project */

.related-project {
    height: 98px;
    position: relative;
}
.related-project > span {
    width: 87px;
    height: 17px;
    font-size: 13px;
    position: absolute;
    left: 29px;
    top: 18px;
    bottom: 5px;
}
.related-project .filter_select {
    position: absolute;
    top: 42px;  
}
.amount-total-range {
    position: relative;
    height: 116px;
    background: red;
}
.amount-total-range > span {
    width: 126px;
    height: 17px;
    font-size: 13px;
    position: absolute;
    left: 29px;
    top: 20px;
}

/*Amount remaining */

.app .filters-group .amount-remaining-is {
    margin-top: 80px;
}
.app .filters-group .amount-remaining-is .img-span {
    display: flex;
    margin-top: 16px;
}
.app .filters-group .amount-remaining-is  span {
    font-size: 14px;
}
.app .filters-group .amount-remaining-is .img-span img {
    margin-right: 12px;
}
.app .filters-group .slider-container {
    position: relative;
}
.app .filters-group .slider {
    -webkit-appearance: none;
    width: 400px;
    height: 3px;
    background: #3798f3;
    outline: none;
    position: absolute;
    top: 10px;  
}
.app .filters-group .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3798f3;
    border-radius: 50%;
}
.slider-observer {
   position: absolute;
   font-size: 14px;
   top: 20px;
}