
/*Amount total range*/

.amount-total-range {
    position: relative;
    height: 116px;
}
.amount-total-range > span {
    width: 126px;
    height: 17px;
    font-size: 13px;
    position: absolute;
    left: 29px;
    top: 20px;
}
.filter-plus-minus {
    position:absolute;
    top: 48px;
}
.filter-plus-minus > img{
    width: 20px;
    height: 20px;
}
.twix1 {
    left: 29px;
}
.twix2 {
    left: 432px;
}
.slider-container {
    left: 58px;
    position: absolute;
    top: 67px;
    width: 367px;
    height: 16px;
}
/*.slider-container .slider {
    width: 367px;
    -webkit-appearance: none;
    height: 2px;
    background: #3798f3;
    outline: none;
    position: absolute;  
}
.app .filters-group .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #3798f3;
    border-radius: 50%;
}
.slider-observer {
   position: absolute;
   font-size: 13px;
   top: 11px;
}*/