* {
    margin: 0;
    padding: 0;
}
body {
    width: 1920px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #FAFAFA;
   
}
.app {
        display: grid;
        grid-template-columns: 96px 1824px;
        grid-template-areas: 
        "navbar budgets"
        "navbar budgets";
}
button:hover {
    cursor: pointer;
}
img, select {
    cursor: pointer;
}