.related-project {
    height: 98px;
    position: relative;
}
.related-project > span {
    width: 87px;
    height: 17px;
    font-size: 13px;
    position: absolute;
    left: 29px;
    top: 18px;
    bottom: 5px;
}
.related-project .filter_select {
    position: absolute;
    top: 42px;   
}
.related-project .css-tj5bde-Svg {
    color: white;
}

.related-project .filter_select{
    width: 424px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #A4A4A4;
    margin-left: 28px;
    outline: none;
    padding-left: 11px;
}

