.related-project {
    height: 98px;
    position: relative;
}
.related-project > span {
    width: 87px;
    height: 17px;
    font-size: 13px;
    position: absolute;
    left: 29px;
    top: 18px;
    bottom: 5px;
}
.related-project .filter_select {
    position: absolute;
    top: 42px;   
}
.related-project .css-tj5bde-Svg {
    color: white;
}
