.budgets__navbar {
    grid-area: navbar;
    position: relative;
}
.lines {
    position: absolute;
    top: 281px;
}
.line {
    width: 6px;
    height: 36px;
    background: #3798f3;
}
.line1 {
    height: 2px;
    border-bottom: 6px solid #3798f3; 
	border-right: 6px solid transparent;
}
.line2 {
    height: 2px;
    border-top: 6px solid #3798f3; 
	border-right: 6px solid transparent;
}
.sign-out {
    position: absolute;
    top: 938px;
    left: 28px;
}
.sign-out > img {
    width: 40px;
    height: 40px;
}