.navbar {
    position: fixed;
    height: 100vh;
    background: white;
    width: 5%; /*96px*/
    box-shadow: 4px 0 16px rgba(0,0,0,0.08);
}

.lines {
    position: absolute;
    top: 27.6%;
}
.line {
    width: 6px;
    background: #3798f3;
    height: 44px;
}
.line1 {
    height: 2px;
    width: 6px;
    background: #3798f3;
}
.line2 {
    height: 2px;
    width: 6px;
    background: #3798f3;
}
.sign-out {
    position: absolute;
    top: 92%;
    left: 39.58%;
}
