.filters-window  span {
    white-space: nowrap;
}
.filters-window {
    width: 480px;
    height: 551px;
    position: absolute;
    right: 48px;
    top: 194px;
    border-radius: 12px;
    background: #ffffff;
    z-index: 2000;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.filters-window:after {
    content: '';
    position: absolute;
    top: -26.5px;
    left: 392px;
    border-bottom:  16px solid white;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid transparent;
}



























