.new-budget {
    width: 480px;
    height: 405px;
    border-radius: 10px;
    background: white;
    margin: 307px 0 0 672px;
    font-size: 13px;
}
.new-budget > form  {
    margin: 0 25px 0 24px;
}
.new-budget > .new-budget-title {
    width: 111px;
    height: 26px;
    font-size: 19px;
    font-weight: bold;
    margin-left: 24px;
    padding-top: 20px;
}
.feel {
    color: #6D6F75;
    width: 431px;
    height: 36px;
    margin: 6px 0 13px 0;
}
.new-budget input {
    font-size: 14px;
    color: #a4a4a4;
    width: 432px;
    height: 24px;
    border: 0.7px solid  #a4a4a4;
    border-radius: 5px;
}

.new-budget .label {
    margin-bottom: 4px;
    height: 18px;
}
.label1 {
    margin-top: 20px;
}
.label2 {
    width: 70px;
}
.label3 {
    width: 94px;
    margin-top: 18px;
}
.new-budget_buttons {
    margin: 40px 24px 16px 212px;
    display: flex; 
}
.btn {
    height: 19px;
    color: #1C1A1A;
}
.text1 {
    width: 44px;
}
.text2 {
    width: 92px;
}
.new-budget_buttons > button {
    height: 36px;
    background: white;
    border: none;
}
.new-budget_buttons > button:nth-child(1) {
    margin-right: 12px;
    width: 92px;
}
.new-budget_buttons > button:nth-child(2) {
    width: 140px;
}