.budgets__table  .table {
    font-size: 15px;
    margin-top: 12px;
}
.budgets__table  .tr {
    box-shadow: -0.1px 0.1px 1px rgba(0,0,0,0.5);
    height: 72px;
    width: 1728px;
    margin-bottom: 6px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
}
.budgets__table .col1 > div {
    width: 262px;
    padding-left: 20px;
    cursor: pointer; 
}
.budgets__table .col2 > div {
    width: 155px;
    padding-left: 20px;   
}
.budgets__table .col3 > div {
    width: 83px;
    text-align: right;
    padding-right: 10px;
    padding-left: 20px; 
}
.budgets__table .col4 > div{
    width: 118px;
    text-align: right;
    padding-right: 28px;
    padding-left: 20px; 
}
.budgets__table .col5 > div{
    width: 131px;
    text-align: right;
    padding-right: 16px;
    padding-left: 20px; 
}
.budgets__table .col6 > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 621px;
    position: relative;
    padding-left: 20px; 
}
.budgets__table .col6 > div:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 410px, #fff 490px)
}
.budgets__table .col7 > div {
    width: 124px;
    padding-left: 20px; 
}
.budgets__table .col8 > div {
    width: 40px;   
}
.col-title {
    font-size: 13px;
    color: #1C1A1A;
}
.underline {
    text-decoration: underline;
}
.hide {
    display: none;
}

